
.container_conteudo{
    
height: 80vh;
/* border: solid orange; */
background: linear-gradient(45deg,#021b5e, #00002D);
background-size: 400% 400%;
animation: container_pag_usuario 10s ease infinite;


}/* Animação de gradiente entre #090979 e #00002D */
@keyframes container_pag_usuario {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}



 
.conatiner_titulo{

display: flex;
justify-content: center;
font-family: Roboto-Medium;
/* border: solid red; */

}.container_introducao{
display: flex;
justify-content: center;



}.container_titulo_introducao{
display: flex;
    flex-direction: column;
justify-content: space-evenly;
/* border: solid yellow */
  ;
height:20%


}.container_introducao{



font-size: 20px;
color: white;
font-family: Roboto-Medium;
/* border: solid beige; */
}

@font-face {
    font-family:"roboto-regular" ;
    src: url(../fonts/Roboto-Regular.ttf);
}.container_recomendacoes{

/* border: solid yellowgreen; */
    color: white;
    font-family: Roboto-Medium
    

}@font-face {
    font-family:"Roboto-Medium" ;
    src: url(../fonts/Roboto-Medium.ttf);}
    .container_recomendacoes{
display: flex;
        justify-content: center;
    }
    
    
    
    .container_obras_recomendadas{

height: 50vh;
   display: flex;

justify-content: center;
margin-top: 50px;


}.capa_obra_um{
width: 25vh;
border-radius: 5px;
}.titulo_obra_um{
font-family: roboto-regular;
color: white;
width: fit-content;
font-size: 20px;
}.autor_obra_um{

    font-family: roboto-regular;
 color: white;
width: fit-content;

}.obras_um{
margin-right: 75px;
    width: fit-content;
/* border: solid white 0.9px; */


background-color: #212277;;
border-radius: 5px;
}.container_titulo_autor{
height: 10vh;

display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}.obra_dois{
   
        width: fit-content;
    border-color: white;
        background-color: #212277;;
    border-radius: 5px;
    /* border: solid white 0.9px; */

}