.imgLanding{
    min-height:60vw;
    min-width:85vw ;
}

.containerLanding{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #8ccef7;
}

*{
    padding: 0;
    margin: 0;
}
.divText{
    color: white;
    margin-bottom:400px ;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    background-color: yellow;
   
    
   
}
@font-face {
    font-family:"Black" ;
    src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}
.h1Landing{
    font-family: Black;
    font-size: 60px;
    margin-left: 20px;
   
}
.divTextP{
    margin-right:100px ;

   
    
}
.divTextP{
    margin-top: 80px;
}
.pInfoSite{
    font-size: 18px;
    font-family: Poppins-Bold;
   padding-right: 20px;
   padding-left:10px ;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    margin-left: 20px;
}
@font-face {
    font-family:"Poppins-Bold" ;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family:"Poppins-ExtraBold" ;
    src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}
.divButaos{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;
    margin-right: 300px;

}
.butaoUm,.butaoDois{
    height: 70px;
    width: 200px;
    margin: 30px;
    
   
}
.butaoDois{
    background-color: rgba(250, 235, 215, 0);
    border-radius: 50px;
    border: solid white 1px;
    font-family: Poppins-ExtraBold;
    font-size: 24px;
    color: white;
    margin-left: 80px;
}
.butaoDois:hover{
    box-shadow: 0px 0 11px white;
    transition: 500ms ;


}
.butaoUm{
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 7px white;
    border: 0;
    font-family:Poppins-ExtraBold;
    font-size: 24px;
}
.butaoUm:hover{
    box-shadow: 0px 0 100px #8ccef7;
    transition: 900ms ;

    }
.pInfoSite:hover{
box-shadow: 0 0 40px #8ccef7;
transition: 500ms;


}
.linkCadastro{
text-decoration: 0;
color: aliceblue;
}
.inptRadio{
    height: 18px;
    width: 18px;
    margin: 8px;
  
}
.divImagem{
    background-image: url("../images/backGroud-cadastro.jpg");
    min-width: 65vw;
    height:75vw ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}