.divHeaderPage{
    height: 14.5%;
    background-color: #000027;



}
.imgsNavBar{
    display: flex;
    justify-content: space-between;
    .sapo{
      width: 120px;
        margin-left: 1%;
    }
    .user{
        height: 100px;
        width: 100px;
        padding-top: 0.8%;
        margin-right: 20px;
        margin-top:15%;
    }
}
.buttonsNav{
    border-top: 2px white solid;
    display: flex;
    justify-content: space-around;
    padding: 5px;
        border-bottom: solid white;
    button{
        border: none;
        font-size: 20px;
        color: white;
        background-color:  #000027;
       
    }
    .bt1{
        width: 200px;
        background-color:  #000027;
        color: white;
    }
    .bt1:hover{
        border-radius: 3px;
        background-color: white;
        color: black;
    }.bt1.ativo{
      background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 3px;
  }
  
  
  
  
  
    .bt2{
        width: 300px;
        background-color:  #000027;
        color: white;
    }
    .bt2:hover{
        border-radius: 3px;
        background-color: white;
        color: black;
    }.bt2.ativo{
      background-color: rgb(255, 255, 255);
    color: black;
   border-radius: 3px;
  }
    
    
    
    
    
    .bt3{
        width: 300px;
        background-color: #000027;
        color: white;
    }
    .bt3:hover{
        border-radius: 3px;
        background-color: white;
        color: black;
    }
    .bt3.ativo{
      background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 3px;
  }
  
  
    .bt4{
        width: 230px;
        background-color:  #000027;
        color: white;
    }
    .bt4:hover{
        border-radius: 3px;
        background-color: white;
        color: black;
    }.bt4.ativo{
      background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 3px;
  }
  
  
  
  
  
    .bt5{
        width: 230px;
        background-color:  #000027;
        color: white;
    }
    .bt5:hover{
        border-radius: 3px;
        background-color: white;
        color: black;
    }
  }.bt5.ativo{
    background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 3px;
  }
  .PnomeUsuario{
    color: white;
  }
  .divNomeUserIcon{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .PnomeUsuario{
    font-size: 20px;
    margin-right: 15%;
    font-family: Poppins-SemiBold;
  }
  @font-face {
    font-family:"Poppins-SemiBold" ;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  }
  
  .sapo_MyWork{

display: flex;
  flex-direction: column;
  align-items: center;
  }
.MyWork_nome_logo{

color: white;
font-family:Poppins-Light ;


}@font-face {
  font-family:"roboto-regular" ;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family:"Roboto-Medium" ;
  src: url(../fonts/Roboto-Medium.ttf);}
  
@font-face {
  font-family:"Poppins-Bold" ;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family:"Poppins-Light" ;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}.texto_mensagem_boas_vindas{
font-family: Poppins-Light;
font-size: 25px;
}