.divHeaderPage{
    height: 100%;
    background-color: #00002D;

}
.imgsNavBar{
    display: flex;
    justify-content: space-between;
    .sapo{
        height: 100px;
        width: 120px;
        padding-left: 1%;
    }
    .user{
        height: 70px;
        width: 70px;
        padding-top: 0.8%;
        padding-right: 1%;
    }
}
.buttonsNav{
    border-top: 2px white solid;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    button{
        border: none;
        font-size: 20px;
        color: white;
        background-color: #00002D;
        
    }
    .bt1{
        width: 100px;
        background-color: #00002D;
        color: white;
    }
    .bt1:hover{
        border-radius: 3px;
        background-color: white;
        color: black;
    }
    .bt2{
        width: 150px;
        background-color: #00002D;
        color: white;
    }
    .bt2:hover{
        border-radius: 3px;
        background-color: white;
        color: black;
    }
    .bt3{
        width: 100px;
        background-color: #00002D;
        color: white;
    }
    .bt3:hover{
        border-radius: 3px;
        background-color: white;
        color: black;
    }
    .bt4{
        width: 200px;
        background-color: #00002D;
        color: white;
    }
    .bt4:hover{
        border-radius: 3px;
        background-color: white;
        color: black;
    }
    .bt5{
        width: 100px;
        background-color: #00002D;
        color: white;
    }
    .bt5:hover{
        border-radius: 3px;
        background-color: white;
        color: black;
    }
}
